
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P';
}

body{
  display: flex;
  align-items: top;
  justify-content: center;
  min-height: 100vh;
}

.wrapper{
  width: 65vmin;
  height: 70vmin;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #d3d3d3;
}

.game-details{
  color:blue;
  font-size: 0.75rem;
  font-weight: 350;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}

.play-board{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(20,1fr) / repeat(20,1fr);
  background: #4c4949;
}

.play-board .food{
  background: blue;
}

.play-board .head{
  background: rgb(4, 173, 4);
}

.onscreen-arr{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 11vmin;
  
}

.arr{
  background: white;
  height: 2.4em;
  width: 2.4em;
  border-radius: 50%;
  margin: 5px;
  transition: 0.4s ease;
  
}

.arr:hover{
  box-shadow: 0em 0em 0.2em 0.2em blue;
  cursor:pointer;
}


.arr div{
  position: absolute;
  height:1.2em;
  width: 1.2em;
  border-top: .25em solid black;
  border-left: .25em solid black;
  transform: rotate(45deg);
  margin-left: .6em;
  margin-top: .8em;
}

.right{
  transform: rotate(90deg);
}
.left{
  transform: rotate(-90deg);
}
.down{
  transform: rotate(180deg);
}